interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/artist/?query=Guns+N%27+Roses&fmt=json&limit=10
  response:
    body:
      string: "{\"created\":\"2026-09-26T16:27:16.040Z\",\"count\":6576,\"offset\":0,\"artists\":[{\"id\":\"eeb1195b-f213-4ce1-b28c-8565211f8e43\",\"type\":\"Group\",\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\",\"score\":100,\"name\":\"Guns
        N\u2019 Roses\",\"sort-name\":\"Guns N\u2019 Roses\",\"country\":\"US\",\"area\":{\"id\":\"489ce91b-6658-3307-9877-795b68554c98\",\"type\":\"Country\",\"type-id\":\"06dd0ae4-8c74-30bb-b43d-95dcedf961de\",\"name\":\"United
        States\",\"sort-name\":\"United States\",\"life-span\":{\"ended\":null}},\"begin-area\":{\"id\":\"1f40c6e1-47ba-4e35-996f-fe6ee5840e62\",\"type\":\"City\",\"type-id\":\"6fd8f29a-3d0a-32fc-980d-ea697b69da78\",\"name\":\"Los
        Angeles\",\"sort-name\":\"Los Angeles\",\"life-span\":{\"ended\":null}},\"disambiguation\":\"American
        hard rock band from Los Angeles\",\"isnis\":[\"0000000121589641\"],\"life-span\":{\"begin\":\"1985-03\",\"ended\":null},\"aliases\":[{\"sort-name\":\"\u30AC\u30F3\u30BA\u30FB\u30A2\u30F3\u30C9\u30FB\u30ED\u30FC\u30BC\u30BA\",\"name\":\"\u30AC\u30F3\u30BA\u30FB\u30A2\u30F3\u30C9\u30FB\u30ED\u30FC\u30BC\u30BA\",\"locale\":null,\"type\":null,\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Guns
        and Roses\",\"name\":\"Guns and Roses\",\"locale\":null,\"type\":null,\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Guns
        -N- Roses\",\"name\":\"Guns -N- Roses\",\"locale\":null,\"type\":null,\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"guns
        'n' roses\",\"name\":\"guns 'n' roses\",\"locale\":null,\"type\":null,\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Guns'N
  [...]
