interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/31de97e3-6c53-4ca6-a00d-152642eb7e4a?fmt=json&inc=recordings%2Bartist-credits%2Brelease-groups%2Brecording-level-rels%2Bwork-rels
  response:
    body:
      string: '{"artist-credit":[{"artist":{"name":"Metallica","type":"Group","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","country":"US","disambiguation":"","sort-name":"Metallica"},"name":"Metallica","joinphrase":""}],"date":"1986-06","text-representation":{"language":"eng","script":"Latn"},"release-group":{"secondary-types":[],"title":"Master
        of Puppets","primary-type":"Album","artist-credit":[{"name":"Metallica","joinphrase":"","artist":{"sort-name":"Metallica","disambiguation":"","country":"US","type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","type":"Group","name":"Metallica"}}],"disambiguation":"","id":"3d00fb45-f8ab-3436-a8e1-b4bfc4d66913","primary-type-id":"f529b476-6e62-324f-b0aa-1f3e33d313fc","secondary-type-ids":[],"first-release-date":"1986-03-03"},"asin":null,"packaging":"Jewel
        Case","packaging-id":"ec27701a-4a22-37f4-bfac-6616e0f9750a","status":"Official","country":"US","cover-art-archive":{"count":0,"darkened":false,"artwork":false,"back":false,"front":false},"status-id":"4e304316-386d-3409-af2e-78857eec5cfe","disambiguation":"","title":"Master
        of Puppets","media":[{"track-offset":0,"track-count":8,"position":1,"title":"","format":"CD","tracks":[{"position":1,"title":"Battery","recording":{"relations":[{"attributes":[],"work":{"language":"eng","id":"a13a4029-ecd5-3930-b673-96ae651ea519","attributes":[],"iswcs":["T-070.017.067-7"],"title":"Battery","disambiguation":"","type-id":"f061270a-2fd6-32f1-a641-f0f8676d14e6","languages":["eng"],"type":"Song"},"attribute-ids":{},"source-credit":"","ended":true,"end":"1985-12-27","target-credit":"","target-type":"work","direction":"forward","attribute-values":{},"begin":"1985-09-01","type":"performance","type-id":"a3005666-a872-32c3-ad06-98af558e99b0"}],"video":false,"title":"Battery","disambiguation":"","artist-credit":[{"joinphrase":"","name":"Metallica","artist":{"type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","type":"Group","name":"Metallica","sort-name":"Metallica","disambiguation":"","country":"US"}}],"length":312360,"id":"3bfda26a-49fa-4bc4-a4d6-8bbfa0767ab7","first-release-date":"1986-03-03"},"artist-credit":[{"artist":{"type":"Group","name":"Metallica","type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","country":"US","disambiguation":"","sort-name":"Metallica"},"joinphrase":"","name":"Metallica"}],"number":"1","length":310000,"id":"ad2a91d1-dd3c-462b-90db-113ff7459259"},{"artist-credit":[{"joinphrase":"","name":"Metallica","artist":{"type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","type":"Group","name":"Metallica","sort-name":"Metallica","country":"US","disambiguation":""}}],"title":"Master
        of Puppets","recording":{"artist-credit":[{"name":"Metallica","joinphrase":"","artist":{"type":"Group","name":"Metallica","type-id":"e431f5f6-b5d2-343d-8b36-7[...]
