interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/artist/?query=qxzvjwkq+plomfrth&fmt=json&limit=10
  response:
    body:
      string: '{"created":"2026-09-25T22:56:09.912Z","count":0,"offset":0,"artists":[]}'
    headers:
      content-type:
      - application/json
      etag:
      - '"ODFiMTJjMDAwMDAwMDAwMFNvbHI="'
      last-modified:
      - Fri, 25 Sep 2026 22:54:42 GMT
      x-mb-gateway:
      - rudi
      x-ratelimit-limit:
      - '400'
      x-ratelimit-remaining:
      - '357'
      x-ratelimit-reset:
      - '1790377114'
    status:
      code: 200
      message: OK
version: 1
