interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/recording/3edac058-cf57-4175-8650-a74ca61652a4?fmt=json&inc=artist-credits%2Bwork-rels
  response:
    body:
      string: '{"title":"Enter Sandman","first-release-date":"2020-04-15","artist-credit":[{"artist":{"type":"Group","sort-name":"Metallica","type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","country":"US","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","name":"Metallica","disambiguation":""},"name":"Metallica","joinphrase":""}],"length":397649,"disambiguation":"live,
        2014-03-27: Estadio Monumental, Santiago, Chile","video":false,"id":"3edac058-cf57-4175-8650-a74ca61652a4","relations":[{"type-id":"a3005666-a872-32c3-ad06-98af558e99b0","begin":"2014-03-27","target-credit":"","end":"2014-03-27","work":{"type-id":"f061270a-2fd6-32f1-a641-f0f8676d14e6","type":"Song","title":"Enter
        Sandman","id":"e5f97e53-ed4d-3721-afb5-5c47dda08782","disambiguation":"","languages":["eng"],"attributes":[],"iswcs":["T-070.052.075-7"],"language":"eng"},"attribute-values":{},"target-type":"work","attribute-ids":{"live":"70007db6-a8bc-46d7-a770-80e6a0bb551a"},"ended":true,"direction":"forward","type":"performance","attributes":["live"],"source-credit":""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f2d858f3aa6dd98336d0c1e826ac3dbe"
      x-mb-gateway:
      - rudi
      x-ratelimit-limit:
      - '1900'
      x-ratelimit-remaining:
      - '1717'
      x-ratelimit-reset:
      - '1790440041'
    status:
      code: 200
      message: OK
version: 1
