interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/artist/?query=AC%2FDC&fmt=json&limit=10
  response:
    body:
      string: "{\"created\":\"2026-09-26T16:27:13.876Z\",\"count\":1313,\"offset\":0,\"artists\":[{\"id\":\"66c662b6-6e2f-4930-8610-912e24c63ed1\",\"type\":\"Group\",\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\",\"score\":100,\"name\":\"AC/DC\",\"sort-name\":\"AC/DC\",\"country\":\"AU\",\"area\":{\"id\":\"106e0bec-b638-3b37-b731-f53d507dc00e\",\"type\":\"Country\",\"type-id\":\"06dd0ae4-8c74-30bb-b43d-95dcedf961de\",\"name\":\"Australia\",\"sort-name\":\"Australia\",\"life-span\":{\"ended\":null}},\"begin-area\":{\"id\":\"3f179da4-83c6-4a28-a627-e46b4a8ff1ed\",\"type\":\"City\",\"type-id\":\"6fd8f29a-3d0a-32fc-980d-ea697b69da78\",\"name\":\"Sydney\",\"sort-name\":\"Sydney\",\"life-span\":{\"ended\":null}},\"disambiguation\":\"Australian
        hard rock band\",\"ipis\":[\"00133076008\"],\"isnis\":[\"000000012271298X\"],\"life-span\":{\"begin\":\"1973-11\",\"ended\":null},\"aliases\":[{\"sort-name\":\"AC/DC\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"AC/DC\",\"locale\":null,\"type\":\"Artist
        name\",\"primary\":null,\"begin-date\":\"1973-11\",\"end-date\":null},{\"sort-name\":\"AC|DC\",\"type-id\":\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\",\"name\":\"AC|DC\",\"locale\":null,\"type\":\"Search
        hint\",\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Akka
        Dakka\",\"type-id\":\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\",\"name\":\"Akka
        Dakka\",\"locale\":null,\"type\":\"Search hint\",\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Acca
        Dacca\",\"type-id\":\"1937e404-b981-3cb7-8[...]
