interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/recording/?query=arid%3A65f4f0c5%5C-ef9e%5C-490c%5C-aee3%5C-909e7ae6b2ab+AND+recording%3A%22Enter+Sandman%22&fmt=json&limit=5
  response:
    body:
      string: "{\"created\":\"2026-09-26T16:27:18.247Z\",\"count\":760,\"offset\":0,\"recordings\":[{\"id\":\"07f98f76-b044-4aa0-8c7a-e422c0dc1f94\",\"score\":100,\"artist-credit-id\":\"7403167d-416b-3dee-96c6-4725d8c3eed3\",\"title\":\"Enter
        Sandman\",\"length\":395908,\"disambiguation\":\"live, 2009-03-03: Metro Radio
        Arena, Newcastle upon Tyne, England\",\"video\":null,\"artist-credit\":[{\"name\":\"Metallica\",\"artist\":{\"id\":\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\",\"name\":\"Metallica\",\"sort-name\":\"Metallica\",\"aliases\":[{\"sort-name\":\"\u30E1\u30BF\u30EA\u30AB\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"\u30E1\u30BF\u30EA\u30AB\",\"locale\":\"ja\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Metalica\",\"type-id\":\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\",\"name\":\"Metalica\",\"locale\":null,\"type\":\"Search
        hint\",\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"\uBA54\uD0C8\uB9AC\uCE74\",\"name\":\"\uBA54\uD0C8\uB9AC\uCE74\",\"locale\":\"ko_KR\",\"type\":null,\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Metallica\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"Metallica\",\"locale\":\"en\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null}]}}],\"releases\":[{\"id\":\"bc3b3c60-f0c2-455a-b63d-882f29b4b7d8\",\"status-id\":\"4e304316-386d-3409-af2e-78857eec5cfe\",\"artist-credit-id\":\"7403167d-416b-3dee-96c6-4725d8c3eed3\",\"count\":2,\"title\":\"2009/03/03
        Newcastle, GBR\",\"status\":\"Official\",\"artist-credit\":[{\"name\":\"Metallica\",\"artist\":{\"id\":\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\",\"name\":\"Metallica\",\"sort-name\":\"Metallica\"}}],\"release-group\":{\"id\":\"c0579b25-ffb3-4ad1-aeb6-4a953431cc85\",\"type-id\":\"6fd474e2-6b58-3102-9d17-d6f7eb7da0a0\",\"primary-type-id\":\"f529b476-6e62-324f-b0aa-1f3e33d313fc\",\"title\":\"2009/03/03
        Newcastle, GBR\",\"primary-type\":\"Album\",\"secondary-types\":[\"Live\"],\"secondary-type-ids\":[\"6fd474e2-6b58-3102-9d17-d6f7eb7da0a0\"]},\"track-count\":20,\"media\":[{\"id\":\"6f9885ff-ebad-49c1-8757-87d9519aca80\",\"position\":2,\"format\":\"Digital
        Media\",\"track\":[{\"id\":\"3f9b5fe7-99ff-4ee5-9f4b-b2be8e707224\",\"number\":\"17\",\"title\":\"Enter
        Sandman\",\"length\":395908}],\"track-count\":9,\"track-offset\":5}]}]},{\"id\":\"484d7907-7768-4fb2-8b86-4aa00f6abf7a\",\"score\":100,\"artist-credit-id\":\"7403167d-416b-3dee-96c6-4725d8c3eed3\",\"title\":\"Enter
        Sandman\",\"length\":497878,\"disambiguation\":\"live, 1996-08-04: Irvine
        Meadows Amphitheatre, Irvine, CA, USA\",\"video\":null,\"artist-credit\":[{\"name\":\"Metallica\",\"artist\":{\"id\":\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\",\"name\":\"Metallica\",\"sort-name\":\"Metallica\",\"aliases\":[{\"sort-name\":\"\u30E1\u30BF\u30EA\u30AB\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"\u30E1\u30BF\u30EA\u30AB\",\"locale\":\"ja\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Metalica\",\"type-id\":\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\",\"name\":\"Metalica\",\"locale\":null,\"type\":\"Search
        hint\",\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"\uBA54\uD0C8\uB9AC\uCE74\",\"name\":\"\uBA54\uD0C8\uB9AC\uCE74\",\"locale\":\"ko_KR\",\"type\":null,\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Metallica\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"Metallica\",\"locale\":\"en\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null}]}}],\"first-release-date\":\"2025-06-13\",\"releases\":[{\"id\":\"cf44b49a-a071-4576-b64c-621e95f7c838\",\"status-id\":\"4e304316-386d-3409-af2e-78857eec5cfe\",\"artist-credit-id\":\"7403167d-416b-3dee-96c6-4725d8c3eed3\",\"count\":26,\"title\":\"Load\",\"status\":\"Official\",\"disambiguation\":\"deluxe
        edition\",\"artist-credit\":[{\"name\":\"Metallica\",\"artist\":{\"id\":\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\",\"name\":\"Metallica\",\"sort-name\":\"Metallica\"}}],\"release-group\":{\"id\":\"e389b7df-862d-3d91[...]
