interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/artist/?query=Beyonc%C3%A9&fmt=json&limit=10
  response:
    body:
      string: "{\"created\":\"2026-09-25T22:56:06.609Z\",\"count\":21,\"offset\":0,\"artists\":[{\"id\":\"859d0860-d480-4efd-970c-c05d5f1776b8\",\"type\":\"Person\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"score\":100,\"gender-id\":\"93452b5a-a947-30c8-934f-6a4056b151c2\",\"name\":\"Beyonc\xE9\",\"sort-name\":\"Beyonc\xE9\",\"gender\":\"female\",\"country\":\"US\",\"area\":{\"id\":\"489ce91b-6658-3307-9877-795b68554c98\",\"type\":\"Country\",\"type-id\":\"06dd0ae4-8c74-30bb-b43d-95dcedf961de\",\"name\":\"United
        States\",\"sort-name\":\"United States\",\"life-span\":{\"ended\":null}},\"begin-area\":{\"id\":\"c920948b-83e3-40b7-8fe9-9ab5abaac55b\",\"type\":\"City\",\"type-id\":\"6fd8f29a-3d0a-32fc-980d-ea697b69da78\",\"name\":\"Houston\",\"sort-name\":\"Houston\",\"life-span\":{\"ended\":null}},\"ipis\":[\"00341826274\"],\"isnis\":[\"0000000114914936\"],\"life-span\":{\"begin\":\"1981-09-04\",\"ended\":null},\"aliases\":[{\"sort-name\":\"\u78A7\u6602\u7D72\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"\u78A7\u6602\u7D72\",\"locale\":\"zh_Hant_TW\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Beyonc\xE9\",\"name\":\"Beyonc\xE9\",\"locale\":\"zh_Hans_CN\",\"type\":null,\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Knowles-Carter,
        Beyonc\xE9\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"Beyonc\xE9
        Knowles-Carter\",\"locale\":\"en\",\"type\":\"Artist name\",\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"\u30D3\u30E8\u30F3\u30BB\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd0[...]
