interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/31de97e3-6c53-4ca6-a00d-152642eb7e4a?fmt=json&inc=recordings%2Bartist-credits%2Brelease-groups%2Brecording-level-rels%2Bwork-rels
  response:
    body:
      string: '{"media":[{"format":"CD","position":1,"format-id":"9712d52a-4509-3d4b-a1a2-67c88c643e31","title":"","tracks":[{"id":"ad2a91d1-dd3c-462b-90db-113ff7459259","recording":{"id":"3bfda26a-49fa-4bc4-a4d6-8bbfa0767ab7","relations":[{"work":{"type-id":"f061270a-2fd6-32f1-a641-f0f8676d14e6","type":"Song","title":"Battery","attributes":[],"languages":["eng"],"disambiguation":"","id":"a13a4029-ecd5-3930-b673-96ae651ea519","iswcs":["T-070.017.067-7"],"language":"eng"},"attribute-values":{},"target-type":"work","attribute-ids":{},"ended":true,"type-id":"a3005666-a872-32c3-ad06-98af558e99b0","begin":"1985-09-01","target-credit":"","end":"1985-12-27","attributes":[],"source-credit":"","direction":"forward","type":"performance"}],"disambiguation":"","video":false,"length":312360,"artist-credit":[{"artist":{"disambiguation":"","name":"Metallica","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","country":"US","type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","sort-name":"Metallica","type":"Group"},"joinphrase":"","name":"Metallica"}],"first-release-date":"1986-03-03","title":"Battery"},"length":310000,"artist-credit":[{"artist":{"country":"US","disambiguation":"","name":"Metallica","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","sort-name":"Metallica","type":"Group","type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b"},"joinphrase":"","name":"Metallica"}],"position":1,"number":"1","title":"Battery"},{"recording":{"disambiguation":"","video":false,"id":"0151d8a4-50c8-4036-b824-4a4f4b140e8e","relations":[{"attributes":[],"source-credit":"","direction":"forward","type":"performance","attribute-values":{},"work":{"language":"eng","iswcs":["T-070.115.558-9"],"id":"19ec21de-2d93-390c-98b0-b68d98c4baf5","attributes":[],"languages":["eng"],"disambiguation":"","type":"Song","title":"Master
        of Puppets","type-id":"f061270a-2fd6-32f1-a641-f0f8676d14e6"},"attribute-ids":{}[...]
