interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/recording/?query=arid%3A65f4f0c5%5C-ef9e%5C-490c%5C-aee3%5C-909e7ae6b2ab+AND+recording%3A%22Enter+Sandman%22&fmt=json&limit=5
  response:
    body:
      string: "{\"created\":\"2026-09-25T22:56:11.036Z\",\"count\":760,\"offset\":0,\"recordings\":[{\"id\":\"cd3ed501-4798-4423-9113-b9bea2d5df16\",\"score\":100,\"artist-credit-id\":\"7403167d-416b-3dee-96c6-4725d8c3eed3\",\"title\":\"Enter
        Sandman\",\"length\":400000,\"disambiguation\":\"live\",\"video\":null,\"artist-credit\":[{\"name\":\"Metallica\",\"artist\":{\"id\":\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\",\"name\":\"Metallica\",\"sort-name\":\"Metallica\",\"aliases\":[{\"sort-name\":\"\u30E1\u30BF\u30EA\u30AB\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"\u30E1\u30BF\u30EA\u30AB\",\"locale\":\"ja\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Metalica\",\"type-id\":\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\",\"name\":\"Metalica\",\"locale\":null,\"type\":\"Search
        hint\",\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"\uBA54\uD0C8\uB9AC\uCE74\",\"name\":\"\uBA54\uD0C8\uB9AC\uCE74\",\"locale\":\"ko_KR\",\"type\":null,\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Metallica\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"Metallica\",\"locale\":\"en\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null}]}}],\"first-release-date\":\"2017\",\"releases\":[{\"id\":\"762ad044-3b86-4b6e-b94e-5bcf1e4604ec\",\"status-id\":\"1156806e-d06a-38bd-83f0-cf2284a808b9\",\"artist-credit-id\":\"7403167d-416b-3dee-96c6-4725d8c3eed3\",\"count\":1,\"title\":\"Classics
        Live, Volume 2\",\"status\":\"Bootleg\",\"artist-credit\":[{\"name\":\"Metallica\",\"artist\":{\"id\":\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\",\"name\":\"Metallica\",\"sort-name\":\"Metallica\"}}],\"release-group\":{\"id\":\"f7e0d94b-8ea1-41c5-8727-9e452b0450b8\",\"type-id\":\"6fd474e2-6b58-3102-9d17-d6f7eb7da0a0\",\"primary-type-id\":\"f529b476-6e62-324f-b0aa-1f3e33d313fc\",\"title\":\"Classics
        Live, Volume 2\",\"primary-type\":\"Album\",\"secondary-types\":[\"Live\"],\"secondary-type-ids\":[\"6fd474e2-6b58-3102-9d17-d6f7eb7da0a0\"]},\"date\":\"2017\",\"country\":\"XE\",\"release-events\":[{\"date\":\"2017\",\"area\":{\"id\":\"89a675c2-3e37-3518-b83c-418bad59a85a\",\"name\":\"Europe\",\"sort-name\":\"Europe\",\"iso-3166-1-codes\":[\"XE\"]}}],\"track-count\":12,\"media\":[{\"id\":\"9d6e4807-0d22-3902-a49c-98a568d5cfc2\",\"position\":1,\"format\":\"CD\",\"track\":[{\"id\":\"1b4e13e9-7b5f-4f3d-abcb-f2a2c19f371c\",\"number\":\"1\",\"title\":\"Enter
        Sandman\",\"length\":400000}],\"track-count\":12,\"track-offset\":0}]}]},{\"id\":\"ba6476c4-870f-4f15-8e47-08302625aa08\",\"score\":100,\"artist-credit-id\":\"7403167d-416b-3dee-96c6-4725d8c3eed3\",\"title\":\"Enter
        Sandman\",\"length\":831146,\"video\":null,\"artist-credit\":[{\"name\":\"Metallica\",\"artist\":{\"id\":\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\",\"name\":\"Metallica\",\"sort-name\":\"Metallica\",\"aliases\":[{\"sort-name\":\"\u30E1\u30BF\u30EA\u30AB\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"\u30E1\u30BF\u30EA\u30AB[...]
