interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/artist/?query=Metallica&fmt=json&limit=10
  response:
    body:
      string: "{\"created\":\"2026-09-25T22:56:04.787Z\",\"count\":147,\"offset\":0,\"artists\":[{\"id\":\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\",\"type\":\"Group\",\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\",\"score\":100,\"name\":\"Metallica\",\"sort-name\":\"Metallica\",\"country\":\"US\",\"area\":{\"id\":\"489ce91b-6658-3307-9877-795b68554c98\",\"type\":\"Country\",\"type-id\":\"06dd0ae4-8c74-30bb-b43d-95dcedf961de\",\"name\":\"United
        States\",\"sort-name\":\"United States\",\"life-span\":{\"ended\":null}},\"begin-area\":{\"id\":\"1f40c6e1-47ba-4e35-996f-fe6ee5840e62\",\"type\":\"City\",\"type-id\":\"6fd8f29a-3d0a-32fc-980d-ea697b69da78\",\"name\":\"Los
        Angeles\",\"sort-name\":\"Los Angeles\",\"life-span\":{\"ended\":null}},\"isnis\":[\"0000000122939631\"],\"life-span\":{\"begin\":\"1981-10-28\",\"ended\":null},\"aliases\":[{\"sort-name\":\"\u30E1\u30BF\u30EA\u30AB\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"\u30E1\u30BF\u30EA\u30AB\",\"locale\":\"ja\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Metalica\",\"type-id\":\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\",\"name\":\"Metalica\",\"locale\":null,\"type\":\"Search
        hint\",\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"\uBA54\uD0C8\uB9AC\uCE74\",\"name\":\"\uBA54\uD0C8\uB9AC\uCE74\",\"locale\":\"ko_KR\",\"type\":null,\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Metallica\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"Metallica\",\"locale\":\"en\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null}],\"tags\":[{\"count\":-1,\"name\":\"political\"},{\"count\":0,\"name\":\"rock\"},{\"count\":-2,\"name\":\"alternative
        rock\"},{\"count\":-4,\"name\":\"80s\"},{\"count\":41,\"name\":\"heavy metal\"},{\"count\":-4,\"name\":\"90s\"},{\"count\":-1,\"name\":\"progressive
        metal\"},{\"count\":66,\"name\":\"thrash metal\"},{\"count\":33,\"name\":\"metal\"},{\"count\":7,\"name\":\"american\"},{\"count\":-4,\"name\":\"grunge\"},{\"count\":-6,\"name\":\"seen
        live\"},{\"count\":-4,\"name\":\"b[...]
