interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/artist/?query=qxzvjwkq+plomfrth&fmt=json&limit=10
  response:
    body:
      string: '{"created":"2026-09-26T16:27:17.140Z","count":0,"offset":0,"artists":[]}'
    headers:
      content-type:
      - application/json
      etag:
      - '"NWM0OWFjMDAwMDAwMDAwMFNvbHI="'
      last-modified:
      - Sat, 26 Sep 2026 16:26:16 GMT
      x-mb-gateway:
      - rudi
      x-ratelimit-limit:
      - '400'
      x-ratelimit-remaining:
      - '190'
      x-ratelimit-reset:
      - '1790440037'
    status:
      code: 200
      message: OK
version: 1
