interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/31de97e3-6c53-4ca6-a00d-152642eb7e4a?fmt=json&inc=recordings%2Bartist-credits%2Brelease-groups
  response:
    body:
      string: '{"release-group":{"id":"3d00fb45-f8ab-3436-a8e1-b4bfc4d66913","secondary-type-ids":[],"secondary-types":[],"artist-credit":[{"name":"Metallica","artist":{"type":"Group","disambiguation":"","country":"US","sort-name":"Metallica","name":"Metallica","type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab"},"joinphrase":""}],"first-release-date":"1986-03-03","primary-type":"Album","title":"Master
        of Puppets","disambiguation":"","primary-type-id":"f529b476-6e62-324f-b0aa-1f3e33d313fc"},"text-representation":{"script":"Latn","language":"eng"},"disambiguation":"","title":"Master
        of Puppets","barcode":"075596043922","release-events":[{"date":"1986-06","area":{"disambiguation":"","type":null,"id":"489ce91b-6658-3307-9877-795b68554c98","type-id":null,"iso-3166-1-codes":["US"],"name":"United
        States","sort-name":"United States"}}],"asin":null,"media":[{"track-count":8,"format":"CD","position":1,"title":"","id":"a16000ea-587a-3e4b-933d-8628772f2e82","tracks":[{"length":310000,"position":1,"title":"Battery","id":"ad2a91d1-dd3c-462b-90db-113ff7459259","artist-credit":[{"name":"Metallica","artist":{"id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","name":"Metallica","type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","sort-name":"Metallica","country":"US","disambiguation":"","type":"Group"},"joinphrase":""}],"number":"1","recording":{"title":"Battery","disambiguation":"","first-release-date":"1986-03-03","artist-credit":[{"name":"Metallica","artist":{"country":"US","disambiguation":"","type":"Group","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","name":"Metallica","type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","sort-name":"Metallica"},"joinphrase":""}],"length":312360,"video":false,"id":"3bfda26a-49fa-4bc4-a4d6-8bbfa0767ab7"}},{"recording":{"id":"0151d8a4-50c8-4036-b824-4a4f4b140e8e","video":false,"length":515240,"first-release-date":"1986-03-03","artist-credit":[{"name":"Metallica","artist":{"sort-name":"Metallica","name":"Metallica","type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","id":"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab","type":"Group","disambiguation":"","country":"US"},"joinphrase":""}],"disambiguation":"","title":"Master
        of Puppets"},"number":"2","art[...]
