interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/b07b4d2f-bd70-46c7-b208-2d9438fc1511?fmt=json&inc=recordings%2Bartist-credits%2Brelease-groups%2Brecording-level-rels%2Bwork-rels
  response:
    body:
      string: "{\"id\":\"e572bae7-fb00-4863-87fc-78dfd0ab091c\",\"status\":\"Official\",\"status-id\":\"4e304316-386d-3409-af2e-78857eec5cfe\",\"relations\":[],\"release-group\":{\"artist-credit\":[{\"joinphrase\":\"\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\",\"artist\":{\"name\":\"\u201CWeird Al\u201D Yankovic\",\"type\":\"Person\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"country\":\"US\",\"sort-name\":\"Yankovic,
        Weird Al\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"disambiguation\":\"\"}}],\"disambiguation\":\"\",\"id\":\"b89956ff-8ad4-3a21-b8b8-c3c064530855\",\"secondary-types\":[],\"primary-type\":\"Album\",\"primary-type-id\":\"f529b476-6e62-324f-b0aa-1f3e33d313fc\",\"title\":\"Poodle
        Hat\",\"secondary-type-ids\":[],\"first-release-date\":\"2003-05-20\"},\"barcode\":\"614223219424\",\"release-events\":[{\"area\":{\"name\":\"[Worldwide]\",\"type\":null,\"disambiguation\":\"\",\"id\":\"525d4e18-3d00-31b9-a58b-a146a916de8f\",\"iso-3166-1-codes\":[\"XW\"],\"type-id\":null,\"sort-name\":\"[Worldwide]\"},\"date\":\"2003-05-30\"}],\"date\":\"2003-05-30\",\"cover-art-archive\":{\"back\":false,\"count\":1,\"front\":true,\"artwork\":true,\"darkened\":false},\"artist-credit\":[{\"artist\":{\"sort-name\":\"Yankovic,
        Weird Al\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"country\":\"US\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"disambiguation\":\"\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\",\"type\":\"Person\"},\"name\":\"\u201CWeird Al\u201D Yankovic\",\"joinphrase\":\"\"}],\"packaging-id\":\"119eba76-b343-3e02-a292-f0f00644bb9b\",\"disambiguation\":\"\",\"asin\":null,\"country\":\"XW\",\"title\":\"Poodle
        Hat\",\"text-representation\":{\"language\":\"eng\",\"script\":\"Latn\"},\"packaging\":\"None\",\"media\":[{\"title\":\"\",\"format-id\":\"907a28d9-b3b2-3ef6-89a8-7b18d91d4794\",\"position\":1,\"id\":\"d1782ce5-2147-3ca4-ad08-f06c1008d60a\",\"format\":\"Digital
        Media\",\"track-count\":12,\"tracks\":[{\"position\":1,\"id\":\"f82994f3-9b22-42f0-ae21-64a4070fb885\",\"number\":\"1\",\"artist-credit\":[{\"artist\":{\"sort-name\":\"Yankovic,
        Weird Al\",\"country\":\"US\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"disambiguation\":\"\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\",\"type\":\"Person\"},\"joinphrase\":\"\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\"}],\"recording\":{\"first-release-date\":\"2003-05-20\",\"video\":false,\"id\":\"e3f94f56-4621-40ef-8bcb-f68baf004455\",\"disambiguation\":\"\",\"artist-credit\":[{\"name\":\"\u201CWeird
        Al\u201D Yankovic\",\"joinphrase\":\"\",\"artist\":{\"name\":\"\u201CWeird
        Al\u201D Yankovic\",\"type\":\"Person\",\"disambiguation\":\"\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"sort-name\":\"Yankovic,
        Weird Al\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"country\":\"US\"}}],\"length\":258106,\"relations\":[{\"type\":\"performance\",\"work\":{\"disambiguation\":\"\",\"id\":\"49c586ea-b43c-3159-a2d8-635c22f7fd79\",\"attributes\":[],\"languages\":[\"eng\"],\"type-id\":\"f061270a-2fd6-32f1-a641-f0f8676d14e6\",\"language\":\"eng\",\"title\":\"Couch
        Potato\",\"type\":\"Song\",\"iswcs\":[\"T-906.719.925-1\"]},\"attribute-values\":{},\"ended\":false,\"source-credit\":\"\",\"attribute-ids\":{},\"attributes\":[],\"target-credit\":\"\",\"direction\":\"forward\",\"target-type\":\"work\",\"end\":null,\"begin\":null,\"type-id\":\"a3005666-a872-32c3-ad06-98af558e99b0\"}],\"title\":\"Couch
        Potato\"},\"length\":261000,\"title\":\"Couch Potato\"},{\"title\":\"Hardware
        Store\",\"recording\":{\"length\":224253,\"relations\":[{\"work\":{\"iswcs\":[],\"type\":\"Song\",\"id\":\"e08d6052-10be-434e-b7ed-8b01364103ac\",\"attributes\":[],\"disambiguation\":\"\",\"title\":\"Hardware
        Store\",\"language\":\"eng\",\"type-id\":\"f061270a-2fd6-32f1-a641-f0f8676d14e6\",\"languages\":[\"eng\"]},\"ty[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/e572bae7-fb00-4863-87fc-78dfd0ab091c?inc=recordings%2Bartist-credits%2Brelease-groups%2Brecording-level-rels%2Bwork-rels&fmt=json
  response:
    body:
      string: "{\"country\":\"XW\",\"release-group\":{\"primary-type-id\":\"f529b476-6e62-324f-b0aa-1f3e33d313fc\",\"secondary-type-ids\":[],\"primary-type\":\"Album\",\"id\":\"b89956ff-8ad4-3a21-b8b8-c3c064530855\",\"secondary-types\":[],\"disambiguation\":\"\",\"first-release-date\":\"2003-05-20\",\"title\":\"Poodle
        Hat\",\"artist-credit\":[{\"name\":\"\u201CWeird Al\u201D Yankovic\",\"joinphrase\":\"\",\"artist\":{\"disambiguation\":\"\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\",\"country\":\"US\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"type\":\"Person\",\"sort-name\":\"Yankovic,
        Weird Al\"}}]},\"disambiguation\":\"\",\"status-id\":\"4e304316-386d-3409-af2e-78857eec5cfe\",\"text-representation\":{\"language\":\"eng\",\"script\":\"Latn\"},\"packaging-id\":\"119eba76-b343-3e02-a292-f0f00644bb9b\",\"status\":\"Official\",\"media\":[{\"track-offset\":0,\"track-count\":12,\"id\":\"d1782ce5-2147-3ca4-ad08-f06c1008d60a\",\"format-id\":\"907a28d9-b3b2-3ef6-89a8-7b18d91d4794\",\"title\":\"\",\"tracks\":[{\"id\":\"f82994f3-9b22-42f0-ae21-64a4070fb885\",\"recording\":{\"artist-credit\":[{\"artist\":{\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"sort-name\":\"Yankovic,
        Weird Al\",\"type\":\"Person\",\"name\":\"\u201CWeird Al\u201D Yankovic\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"disambiguation\":\"\",\"country\":\"US\"},[...]
