interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/b07b4d2f-bd70-46c7-b208-2d9438fc1511?fmt=json&inc=recordings%2Bartist-credits%2Brelease-groups
  response:
    body:
      string: "{\"status\":\"Official\",\"barcode\":\"614223219424\",\"status-id\":\"4e304316-386d-3409-af2e-78857eec5cfe\",\"release-group\":{\"first-release-date\":\"2003-05-20\",\"title\":\"Poodle
        Hat\",\"primary-type\":\"Album\",\"disambiguation\":\"\",\"secondary-types\":[],\"artist-credit\":[{\"joinphrase\":\"\",\"artist\":{\"country\":\"US\",\"disambiguation\":\"\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"sort-name\":\"Yankovic,
        Weird Al\",\"type\":\"Person\",\"name\":\"\u201CWeird Al\u201D Yankovic\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\"},\"name\":\"\u201CWeird
        Al\u201D Yankovic\"}],\"id\":\"b89956ff-8ad4-3a21-b8b8-c3c064530855\",\"secondary-type-ids\":[],\"primary-type-id\":\"f529b476-6e62-324f-b0aa-1f3e33d313fc\"},\"release-events\":[{\"date\":\"2003-05-30\",\"area\":{\"disambiguation\":\"\",\"iso-3166-1-codes\":[\"XW\"],\"id\":\"525d4e18-3d00-31b9-a58b-a146a916de8f\",\"sort-name\":\"[Worldwide]\",\"type\":null,\"name\":\"[Worldwide]\",\"type-id\":null}}],\"id\":\"e572bae7-fb00-4863-87fc-78dfd0ab091c\",\"disambiguation\":\"\",\"country\":\"XW\",\"text-representation\":{\"script\":\"Latn\",\"language\":\"eng\"},\"quality\":\"normal\",\"title\":\"Poodle
        Hat\",\"cover-art-archive\":{\"darkened\":false,\"count\":1,\"artwork\":true,\"front\":true,\"back\":false},\"asin\":null,\"date\":\"2003-05-30\",\"packaging\":\"None\",\"packaging-id\":\"119eba76-b343-3e02-a292-f0f00644bb9b\",\"artist-credit\":[{\"artist\":{\"country\":\"US\",\"disambiguation\":\"\",\"sort-name\":\"Yankovic,
        Weird Al\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\",\"type\":\"Person\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\"},\"joinphrase\":\"\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\"}],\"media\":[{\"format-id\":\"907a28d9-b3b2-3ef6-89a8-7b18d91d4794\",\"track-count\":12,\"tracks\":[{\"length\":261000,\"recording\":{\"first-release-date\":\"2003-05-20\",\"title\":\"Couch
        Potato\",\"length\":258106,\"artist-credit\":[{\"joinphrase\":\"\",\"artist\":{\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"type\":\"Person\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"sort-name\":\"Yankovic,
        Weird Al\",\"disambiguation\":\"\",\"country\":\"US\"},\"name\":\"\u201CWeird
        Al\u201D Yankovic\"}],\"video\":false,\"disambiguation\":\"\",\"id\":\"e3f94f56-4621-40ef-8bcb-f68baf004455\"},\"id\":\"f82994f3-9b22-42f0-ae21-64a4070fb885\",\"position\":1,\"title\":\"Couch
        Potato\",\"number\":\"1\",\"artist-credit\":[{\"artist\":{\"sort-name\":\"Yankovic,
        Weird Al\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"type\":\"Person\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\",\"country\":\"US\",\"disambiguation\":\"\"},\"joinphrase\":\"\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\"}]},{\"position\":2,\"title\":\"Hardware Store\",\"id\":\"fe44c379-f81a-4f75-869b-f0e592707666\",\"recording\":{\"video\":false,\"a[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/e572bae7-fb00-4863-87fc-78dfd0ab091c?inc=recordings%2Bartist-credits%2Brelease-groups&fmt=json
  response:
    body:
      string: "{\"packaging\":\"None\",\"packaging-id\":\"119eba76-b343-3e02-a292-f0f00644bb9b\",\"date\":\"2003-05-30\",\"asin\":null,\"media\":[{\"format\":\"Digital
        Media\",\"tracks\":[{\"artist-credit\":[{\"joinphrase\":\"\",\"artist\":{\"type\":\"Person\",\"name\":\"\u201CWeird
        Al\u201D Yankovic\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"sort-name\":\"Yankovic,
        Weird Al\",\"id\":\"7746d775-9550-4360-b8d5-c37bd448ce01\",\"disambiguation\":\"\",\"country\":\"US\"},\"name\":\"\u201CWeird
        Al\u201D Yankovic\"}],\"number\":\"1\",\"id\":\"f82994f3-9b22-42f0-ae21-64a4070fb885\",\"title\":\"Couch
        Pota[...]
