interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/artist/65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab?fmt=json&inc=aliases%2Btags
  response:
    body:
      string: "{\"disambiguation\":\"\",\"gender\":null,\"begin-area\":{\"disambiguation\":\"\",\"id\":\"1f40c6e1-47ba-4e35-996f-fe6ee5840e62\",\"type\":null,\"name\":\"Los
        Angeles\",\"type-id\":null,\"sort-name\":\"Los Angeles\"},\"gender-id\":null,\"country\":\"US\",\"sort-name\":\"Metallica\",\"tags\":[{\"name\":\"american\",\"count\":7},{\"count\":20,\"name\":\"hard
        rock\"},{\"name\":\"heavy metal\",\"count\":41},{\"name\":\"metal\",\"count\":33},{\"name\":\"rockgruppe\",\"count\":1},{\"count\":66,\"name\":\"thrash
        metal\"}],\"isnis\":[\"0000000122939631\"],\"type\":\"Group\",\"name\":\"Metallica\",\"end-area\":null,\"aliases\":[{\"ended\":false,\"primary\":null,\"type\":\"Search
        hint\",\"name\":\"Metalica\",\"sort-name\":\"Metalica\",\"type-id\":\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\",\"begin\":null,\"end\":null,\"locale\":null},{\"end\":null,\"begin\":null,\"locale\":\"en\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"sort-name\":\"Metallica\",\"name\":\"Metallica\",\"type\":\"Artist
        name\",\"ended\":false,\"primary\":true},{\"primary\":true,\"ended\":false,\"type\":\"Artist
        name\",\"name\":\"\u30E1\u30BF\u30EA\u30AB\",\"sort-name\":\"\u30E1\u30BF\u30EA\u30AB\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"locale\":\"ja\",\"begin\":null,\"end\":null},{\"locale\":\"ko_KR\",\"end\":null,\"begin\":null,\"type-id\":null,\"sort-name\":\"\uBA54\uD0C8\uB9AC\uCE74\",\"type\":null,\"name\":\"\uBA54\uD0C8\uB9AC\uCE74\",\"primary\":true,\"ended\":false}],\"id\":\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\",\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\",\"life-span\":{\"ended\":false,\"begin\":\"1981-10-28\",\"end\":null},\"ipis\":[],\"area\":{\"name\":\"United
        States\",\"type\":null,\"disambiguation\":\"\",\"id\":\"489ce91b-6658-3307-9877-795b68554c98\",\"iso-3166-1-codes\":[\"US\"],\"sort-name\":\"United
        States\",\"type-id\":null}}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5cef5e88227aa9a77fa3d8fc790824ad"
      x-mb-gateway:
      - rudi
      x-ratelimit-limit:
      - '1900'
      x-ratelimit-remaining:
      - '569'
      x-ratelimit-reset:
      - '1790440043'
    status:
      code: 200
      message: OK
version: 1
